.App {
  text-align: center;
  background-color: lightgrey;
  min-width: 100vw;
  min-height: 100vh;
}

#title {
  margin: 0em;
  padding: 0.5em 0em;
}
.content {
  background: linear-gradient(
    163deg,
    rgba(255, 255, 255, 0.20316) 10%,
    rgba(255, 255, 255, 0.605022) 35%,
    rgba(255, 255, 255, 1) 55%
  );
  margin: 2em;
  padding: 2em;
}

/* ---------Results---------- */
.container {
  display: flex;
  flex-direction: column;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  outline: 0.15px solid black;
  margin: 1em 0em;
  padding: 1em 0em;
  width: 100%;
}

.allMovies {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.singleResult {
  display: flex;
  flex-direction: row;
  margin: 1em 1em;
  border: black dotted;
}

.singleResult img {
  height: 100%;
  width: auto;
}

.noImgSvg {
  width: 80%;
  height: 80%;
  padding: 3em 3em 0em 3em;
}

.movieInfo {
  align-self: center;
  margin: 0em 2em;
  width: 100%;
}

/*------- Details Page--------- */

.movieContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1em;
}

.movieDetails {
  text-align: left;
}

.vote {
  padding: 2em 0em;
}

.voteRatings {
  display: flex;
  padding: 0.5em 0em;
}

.voteRatings span img {
  margin: 0em 0.25em;
}

.thumb {
  fill: black;
  margin: 0em 0.25em;
}

.thumb:hover {
  cursor: pointer;
  pointer-events: fill;
  fill: #8f47ea;
}
